*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.teste{
    width: 100px;
    height: 100px;
    background: red;
    
    margin: 150px;
    transition-property: transform , background,border-radius;
    transition-duration: 0.7s,2s,1s; 
    transition-delay: 0.1s;
    transition-timing-function:ease-in-out; 
   
}
.teste:hover{
    transform: translate(50px,0px) rotate(45deg) scale(0.5,0.5);/* 50px eixo x, 50px eixo y*/
    background: yellow;
    border-radius: 50%;
}