/* -- Reset da Página -- */
*{/* será aplicado para tudo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    width:80%; /* largura de 80% da página */
    border: 1px solid blue;/* espessura de 1px, tipo de linha sólida, cor da borda azul */
    display: flex;
    justify-content: space-between;
    padding-top:30px;
}
.container .box{/* estilizar todas as .box que estão dentro de .container */
    width: 200px;
    border: 1px solid red;
}
.container .box img{
    width: 100%;/* largura de 100% relativo a .box */
}
.sec{
    background-color: gray;
    height: 100vh;/* 100 vh, viewport, altura da página */
    padding: 30px 20px;
}
.sec h2{
    color: orange
}
nav{
    text-align: center;
    position: fixed;
    background-color: blueviolet;
    width: 100%;
}