*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.move{
    width: 100px;
    height: 100px;
    background: cyan;
    /* transform: translate(200px,200px); */
    /* transform: rotate(45deg); */
    transition-property:transform,background;
    transition-duration:1s,0.5s; 
    /* transition-delay: 0.3s;  */
    transition-timing-function: ease-in-out ;
    margin-left: 200px;
}    
.move:hover{
    /* transform: scale(2,1.5); */
    transform: translatey(-10px) rotate(360deg) scale(0.7, 0.7);
    background: blueviolet;
}    
h1{
    margin-bottom:50px;
}